# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
*.sqlite3
media/

# Coverage
.coverage
coverage.xml

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store